@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Pacifico&display=swap');
@import url(menu.css);
@import	url(banner.css);
@import	url(blog.css);
@import	url(info.css);
@import url(nuestros productos.css);
★ {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

header {
 	width: 100%;
	height: 80px;
	background: #333;
	color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.contenedor {
	width: 98%
	margin: auto;
}

h1 {
	float: left;
}

header .contenedor {
	display: table;
}
section {
	width: 100%;
	margin-bottom: 25px;
}
#Bienvenidos {
	test-align:	center;
}

footer .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px;
}

.copy {
	font-size: 20px;
}

.sociales {
	width: 100%;
	test-align: center;
	font-size: 28px;
}

.sociales a {
	color: #333;
	text-decoration: none;
}

@media (min-width: 1024px) {
	.contenedor {
		widows: 1000px;
	}
}

@media (min-width: 768px) {
	.sociales {
		widows: auto;
	}